<h3>{{viewTitle}}</h3>
<form action="/employee" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">

    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="Name" value="{{employee.Name}}" placeholder="Name">
        <div class="text-danger">
            {{employee.NameError}}
        </div>
    </div>

    <div class="form-group">
        <label>Number Phone</label>
        <input type="text" class="form-control" name="NumberPhone" value="{{employee.NumberPhone}}" placeholder="NumberPhone">
        <div class="text-danger">
            {{employee.PhoneError}}
        </div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="Email" class="form-control" name="Email" value="{{employee.Email}}" placeholder="Email">
        <div class="text-danger">
            {{employee.EmailError}}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group md-6">
            <label>Birth</label>
            <input type="date" name="Birth" placeholder="Birth" value="{{employee.Birth}}" class="form-control">

        </div>
        <div class="form-group md-6">
            <label>Address</label>
            <input type="text" name="Address" placeholder="Address" value="{{employee.Address}}" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        <a href="/employee/list" class="btn btn-danger">
            <i class="fa fa-list-alt"></i>View All
        </a>
    </div>
</form>