<h3>
     <p>Employee List</p>
    <a href="/employee" class="btn btn-danger">
        <i class="fa fa-plus"> </i> Create New
    </a>
   
     <a href="/product/list" class="btn btn-danger">
        <i class="fa fa-plus"> </i> List Product
    </a>
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Birth</th>
            <th>Email</th>
            <th>Number Phone</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.Name}}</td>
            <td>{{this.Birth}}</td>
            <td>{{this.Email}}</td>
            <td>{{this.NumberPhone}}</td>
            <td>{{this.Address}}</td>
            <td>
                <a href="/employee/{{this._id}}">
                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                </a>
                <a href="/employee/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record?');">
                    <i class="fa fa-trash fa-lg" aria-hidden="true">

                    </i>
                </a>
            </td>
        </tr>
        {{/each}}

        <div>
    </div>
    </tbody>
</table>