<h3>{{viewTitle}}</h3>
<form action="/product" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{product._id}}">

    <div class="form-group">
        <label>ID</label>
        <input type="text" class="form-control" name="ID" value="{{product.ID}}" placeholder="ID">
        <div class="text-danger">
            {{product.IDError}}
        </div>
    </div>

    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" name="NameProduct" value="{{product.NameProduct}}" placeholder="NameProduct">
        <div class="text-danger">
            {{product.NameProductError}}
        </div>
    </div>

    <div class="form-group">
        <label>Origin</label>
        <input type="text" class="form-control" name="Origin" value="{{product.Origin}}" placeholder="Origin">
        <div class="text-danger">
            {{product.OriginError}}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group md-6">
            <label>Category</label>
            <input type="text" name="Category" placeholder="Category" value="{{product.Category}}" class="form-control">

        </div>
        <div class="form-group md-6">
            <label>Description</label>
            <input type="text" name="Description" placeholder="Description" value="{{product.Description}}" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        <a href="/product/list" class="btn btn-danger">
            <i class="fa fa-list-alt"></i>View All
        </a>
    </div>
</form>