<h3>{{viewTitle}}</h3>
<form action="/orders" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{orders._id}}">


    <div class="form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" name="Quantity" value="{{orders.Quantity}}" placeholder="Enter Quantity">
        <div class="text-danger">
            {{orders.QuantityError}}
        </div>
    </div>

    <div class="form-group">
        <label>Amount</label>
        <input type="text" class="form-control" name="Amount" value="{{orders.Amount}}" placeholder="Enter Amount">
        <div class="text-danger">
            {{orders.AmountError}}
        </div>
    </div>

    <div class="form-group">
        <label>Brand</label>
        <input type="text" class="form-control" name="Brand" value="{{orders.Brand}}" placeholder="Enter Brand">
        <div class="text-danger">
        </div>
    </div>

    <div class="form-group">
        <label>Employee</label>
        <input type="text" class="form-control" name="Employee" value="{{orders.Employee}}" placeholder="Enter Employee">
        <div class="text-danger">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-danger"><i class="fas fa-paper-plane"></i> Submit </button>
        <a href="/orders/list" class="btn btn-primary">
            <i class="fas fa-th-list"></i> View All
        </a>
    </div>
</form>