<h3>{{viewTitle}}</h3>
<form action="/orders" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{orders._id}}">

    <div class="form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" name="Quantity" value="{{orders.Quantity}}" placeholder="Quantity">
        <div class="text-danger">
            {{orders.QuantityError}}
        </div>
    </div>

    <div class="form-group">
        <label>Total</label>
        <input type="text" class="form-control" name="Total" value="{{orders.Total}}" placeholder="Total">
        <div class="text-danger">
            {{orders.TotalError}}
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a href="/orders/list" class="btn btn-danger">
            <i class="fas fa-list-alt"></i> View All
        </a>
    </div>
</form>