<h3>
    <p>Order List</p>
    <a href="/orders" class="btn btn-success">
        <i class="fas fa-cart-plus"> </i> New Order
    </a>

    <a href="/product/list" class="btn btn-primary">
        <i class="fas fa-plus-circle"> </i> List Product
    </a>

</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Brand</th>
            <th>Employee</th>
            <th>OrderDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.Quantity}}</td>
            <td>{{this.Amount}}</td>
            <td>{{this.Brand}}</td>
            <td>{{this.Employee}}</td>
            <td>{{this.OrderDate}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>